<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .content{
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
         <div class="row">
             <div class="content col-md-6 offset-md-3">
                 <h3 class="text-center">Bazar List</h3>
                 <form @submit.prevent="addItem">
                     <input class="form-control" v-model="newItem" type="text">
                 </form>
                 <hr>
                <ul class="list-group">
                    <li class="list-group-item" ::key="index" v-for="(item,index) in items">
                        {{item.name}}-- <input v-model="item.price">
                        <button @click="removeItem(index)" class="btn btn-sm btn-danger">Remove</button>
                    </li>
                    <li class="list-group-item" >Total: {{total}}</li>
                </ul>
             </div>
         </div>
    </div>    
    <script src="app.js"></script>
</body>
</html>